<div class="d-flex align-items-center">
  <div class="dropdown">
    <a
      class="nav-link shopping-cart-icon"
      id="cartBasket"
      role="button"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      href=""
    >
      <fa-icon [icon]="faShoppingCart" size="lg" class="icon"></fa-icon>

      <span
        id="counter"
        class="
          shopping-cart-counter
          d-flex
          align-items-center
          justify-content-center
          newQuantity2
        "
      ></span>
    </a>
    <div
      class="dropdown-menu dropdown-menu-end menu-box shopping-cart-box"
      aria-labelledby="cartBasket"
    >
      <div class="card" style="width: 16rem">
        <ng-container
          *ngIf="cartItems.length > 0; else emptyCartTemplate"
        ></ng-container>
        <div class="cart-header">
          <div class="card-title">
            <span>Total: </span>
            <span>{{ cartTotal | currency }}</span>
          </div>
        </div>
        <div class="card-text">
          <ul class="list-group list-group-flush">
            <li *ngFor="let item of cartItems" class="list-group-item">
              <app-cart-item [cartItem]="item"></app-cart-item>
            </li>
          </ul>

          <div>
            <button class="myButton">Checkout</button>
          </div>

          <ng-template #emptyCartTemplate>
            <div class="text-center text-bold">Cart is empty</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
