<div class="d-flex align-items-center">
  <div class="dropdown" data-bs-display="static">
    <a
      class="nav-link shopping-cart-icon"
      id="cartBasket"
      role="button"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      href=""
    >
      <fa-icon [icon]="faShoppingCart" size="2x" class="icon"></fa-icon>

      <span
        *ngIf="cartItems.length > 0"
        id="counter"
        class="counter d-flex align-items-center justify-content-center"
        >{{ cartItems.length }}</span
      >
    </a>
    <div
      class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start cart-box"
      aria-labelledby="cartBasket"
    >
      <div class="card cart" style="width: 21rem">
        <ng-container
          *ngIf="cartItems.length > 0; else emptyCartTemplate"
        ></ng-container>
        <div class="cart-header">
          <div class="card-title total">
            <span>Total: </span>
            <span>{{ cartTotal | currency: "EUR" }}</span>
            <hr />
          </div>
        </div>
        <div class="card-text">
          <ul class="list-group list-group-flush">
            <li *ngFor="let item of cartItems" class="list-group-item">
              <app-cart-item
                [cartItem]="item"
                (remove)="removeItem($event)"
                (UpdateQuantity)="upDateQty($event)"
              ></app-cart-item>
            </li>
          </ul>

          <div class="text-center">
            <button class="myButton">Checkout</button>
          </div>

          <ng-template #emptyCartTemplate>
            <div class="text-center text-bold">Cart is empty</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
