<div class="card">
  <img
    src="../assets/images/image{{ item.id }}.png"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <p class="card-text">
      {{ item.description }}
    </p>
    <hr />
    <div class="row mb-4 text-center">
      <div class="col mx-1">
        <strong>{{ item.price | currency: "EUR" }}</strong>
      </div>
      <div class="col">
        <span class="units">Pack of {{ item.packaging }} pcs.</span>
      </div>
    </div>
    <ul class="m-0 p-0">
      <li>
        <span></span><span></span><span></span
        ><a type="button" (click)="addItem()">add to cart</a>
      </li>
    </ul>
  </div>
</div>
