body {
  background-color: #f5eeee;
}
.navbar {
  background-color: #171313;
}
.button {
  background-color: #af05aa;
  color: #f5eeee;
}
.icon {
  color: #ea21a2;
}
.card {
  border-radius: 20px;
}
.card:hover {
  box-shadow: 0 0 2px 1px #ebbddc;
  transform: scale(1.02);
}
