body {
  background-color: #f5eeee;
}
.navbar {
  background-color: #171313;
}
.button {
  background-color: #af05aa;
  color: #f5eeee;
}
.units {
  font-weight: bold;
  color: hsl(300, 6%, 38%);
  margin-left: -20px;
}
.icon {
  color: #f5eeee;
}

.counter {
  position: absolute;
  color: #fff;
  font-size: small;
  top: -2px;
  right: 26px;
  width: 14px;
  height: 15px;
  border-radius: 50%;
  background: #ea21a2;
  padding: 0.6rem;
}

.total {
  background-color: white;
  padding: 0.5em;
  margin: -5px;
}
.cart-header {
  color: #af05aa;
  font-size: large;
  margin: 0;
  text-align: end;
  padding: 0.2em;
}
hr {
  color: #af05aa;
}
.trashIcon {
  color: rgb(190, 9, 24);
  margin-left: 0.3em;
}
.trashIcon:hover {
  color: rgb(163, 45, 54);
}
.itemName {
  color: #171313;
  font-weight: bold;
  margin: 0 0 -15px 0;
}
.qtyInput {
  max-width: 20%;
  margin: 0 0.5em 0 0;
}
.price {
  max-width: 15%;
  margin: 0 0.5em 0 0;
}
.cart-box {
  position: absolute;
  margin: 0;
  padding: 0;

  background-color: hsla(0, 4%, 52%, 0.4);
  border-radius: 20px;
}
.cart {
  background-color: hsla(0, 10%, 8%, 0.8);
  margin: 0;
  padding: 10px;
  border-radius: 20px;
}
.card:hover {
  box-shadow: 0 0 2px 1px #eebedd;
  transform: scale(1.02);
}

.myButton,
.card-body > ul li {
  color: #171313;

  background-color: #af05aa;
  border: none;
  border-radius: 0.5em;
  width: 10em;
  height: 4em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  margin: 1em auto 1em auto;
  text-align: center;
  line-height: 4em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.card-body > ul li span {
  position: absolute;
  width: 33%;
  height: 100%;
  background-color: #ea21a2;
  transform: translateY(120%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 33%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.myButton:hover {
  background-color: #ea21a2;
  color: #fff;
  transition: 0.5s;
  border: none;
}

.card-body > ul li:hover {
  color: #fff;
}

.card-body > ul li:hover span {
  transform: translateY(0) scale(1.5);
}
.card-body > ul li span:nth-child(1) {
  --n: 1;
}

.card-body > ul li span:nth-child(2) {
  --n: 2;
}

.card-body > ul li span:nth-child(3) {
  --n: 3;
}
.cart {
  margin: 1em;
  border: none;
}
@media screen and (max-width: 600px) {
  .cart {
    max-width: 90vw;
    font-size: x-small;
  }
}
