body {
  background-color: #f5eeee;
}
.navbar {
  background-color: #171313;
}
.button {
  background-color: #af05aa;
  color: #f5eeee;
}
.icon {
  color: #ea21a2;
}
.card {
  border-radius: 20px;
}
.card:hover {
  box-shadow: 0 0 2px 1px #eebedd;
  transform: scale(1.02);
}

.myButton,
.card-body > ul li {
  color: #171313;

  background-color: #af05aa;
  border: none;
  border-radius: 0.5em;
  width: 10em;
  height: 4em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  margin: 1em auto 1em auto;
  text-align: center;
  line-height: 4em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.card-body > ul li span {
  position: absolute;
  width: 33%;
  height: 100%;
  background-color: #ea21a2;
  transform: translateY(120%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 33%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.myButton:hover {
  background-color: #ea21a2;
  color: #fff;
  transition: 0.5s;
  border: none;
}

.card-body > ul li:hover {
  color: #fff;
}

.card-body > ul li:hover span {
  transform: translateY(0) scale(1.5);
}
.card-body > ul li span:nth-child(1) {
  --n: 1;
}

.card-body > ul li span:nth-child(2) {
  --n: 2;
}

.card-body > ul li span:nth-child(3) {
  --n: 3;
}
.cart {
  margin: 1em;
  border: none;
}
