<div class="cart-item">
  <p class="itemName">{{ cartItem.name }}</p>
  <br />
  <span class="price">{{ cartItem.price | currency: "EUR" }}</span> x
  <span class="item-quantity">
    <input
      type="number"
      class="qtyInput"
      id="quantity"
      value="{{ cartItem.qty }}"
      min="0"
      [(ngModel)]="cartItem.qty"
      (ngModelChange)="sendItemQuantity(cartItem.qty)"
  /></span>

  <span class="total"
    >Total: {{ cartItem.price * cartItem.qty | currency: "EUR" }}</span
  >
  <span class="item-removal">
    <button class="btn btn-xs" (click)="sendItemToRemove(cartItem)">
      <fa-icon
        class="trashIcon"
        [icon]="faTrashAlt"
        title="remove"
        role="button"
      ></fa-icon>
    </button>
  </span>
</div>
